.vscode
.idea/
*.h5
volume*.jpg
__pycache__
*.pyc
*.pkl
*.log
default_wrong_
default
chest_xray
.claude
default_no_conditioning
default_old
default_wrong_conditioning
default_2
default_test
brats
default_3
default_4
